﻿@foreach (var item in Model as IEnumerable<Perfil.Models.Aplicacao>)
{
    <li class="navBarAPPSOnClickContentLi"><a id="navBarAPPSOnClickContent-@item.nome" href=@item.urlApp title="@item.titulo" target="_blank"></a></li>
}