﻿@using System.Configuration;

@{
    ViewBag.PageTitle = ConfigurationManager.AppSettings["titulo"].ToString();
    IEnumerable<Perfil.Models.Aplicacao> Model = (ViewData["LayoutModel"] as Perfil.ViewModels.BaseViewModel).Aplicacoes;
    string TextoBase = "Sem descrição.";//"Lorem ipsum dolor sit amet, consectetur adipiscing elit.Maecenas lacinia justo ipsum, eu molestie neque faucibus vitae. Cras ut ex eu metus dignissim viverra vitae lacinia arcu. Nulla at efficitur urna. Phasellus gravida tempus magna auctor rutrum. Aenean molestie id libero id posuere. Suspendisse potenti. Suspendisse malesuada vulputate magna. Duis a ultrices purus, id laoreet massa.";
}


@{
    //foreach (var item in Model)
    for (int i = 0; i < Model.Count(); i += 2)
    {
        <div class="appsLine">

            <div class="col-md-6 appsElement">
                <div class="col-md-2 forceResponsive">
                    <div class="navBarAPPSOnClickContentLi"><a id="navBarAPPSOnClickContent-@Model.ElementAt(i).nome" href=@Model.ElementAt(i).urlApp title="@Model.ElementAt(i).titulo" target="_blank"></a></div>
                </div>
                <div class="col-md-10">
                    <div class="bold">@Model.ElementAt(i).titulo</div>
                    <article class="text-info">
                        @if (Model.ElementAt(i).descricao != null)
                        {
                            <i>@Model.ElementAt(i).descricao</i>
                        }
                        else
                        {
                            <i>@TextoBase</i>
                        }
                    </article>
                </div>
            </div>

            @if (i + 1 < Model.Count())
            {
                <div class="col-md-6 appsElement">
                    <div class="col-md-2 forceResponsive">
                        <div class="navBarAPPSOnClickContentLi"><a id="navBarAPPSOnClickContent-@Model.ElementAt(i+1).nome" href=@Model.ElementAt(i+1).urlApp title="@Model.ElementAt(i+1).titulo" target="_blank"></a></div>
                    </div>
                    <div class="col-md-10">
                        <div class="bold">@Model.ElementAt(i + 1).titulo</div>
                        <article class="text-info">
                            @if (Model.ElementAt(i + 1).descricao != null)
                            {
                                <i>@Model.ElementAt(i + 1).descricao</i>
                            }
                            else
                            {
                                <i>@TextoBase</i>
                            }
                        </article>
                    </div>
                </div>
            }

        </div>

        <div class="clearfix"></div>
    }
}