﻿@model Perfil.ViewModels.DadosPessoaisViewModel
@using Perfil.Helpers

@{
    ViewBag.Title = "Alterar Dados Pessoais";
    ViewBag.PageTitle = "Alterar Dados Pessoais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script>

        function ChangeLigacao(id) {
            if (id == 0) {
                $('#ligacaoDiv').hide();
            }
            else {
                $('#ligacaoDiv').show();
                $('#ligacaoTexto').focus();
            }
        }

        function addLigacao() {

            var element = document.getElementById('ListaLigacoesField');
            var idLigacao = element.value;

            if (idLigacao != 0) {

                var nomeLigacao = element[element.selectedIndex].text;

                var ligacao = $('#ligacaoTexto').val();

                ligacao = ligacao.replace(/^\s+/, '').replace(/\s+$/, '');

                if (ligacao != "") {

                    document.getElementById('ligacaoTexto').value = "";

                    ChangeLigacao(0);

                    element.selectedIndex = 0;

                    //element.remove(element.selectedIndex);

                    var table = document.getElementById('ligacaoTable');

                    var count = table.rows.length;

                    var row = table.insertRow(count);
                    var cell0 = row.insertCell(0);
                    var cell1 = row.insertCell(1);
                    var cell2 = row.insertCell(2);
                    var cell3 = row.insertCell(3);
                    var cell4 = row.insertCell(4);
                    var cell5 = row.insertCell(5);

                    cell2.className = "col-md-2";
                    cell3.className = "col-md-6";
                    cell4.className = "col-md-2";
                    cell5.className = "col-md-2";

                    var classe = "icon-";
                    switch (idLigacao) {
                        //linkedin
                        case "5": classe += "linkedin"; break;

                            //6 facebook
                        case "6": classe += "facebook"; break;

                            //7 twitter
                        case "7": classe += "twitter"; break;

                            //8 orcid
                        case "8": classe += "orcid"; break;

                            //9 authenticus
                        case "9": classe += "authenticus"; break;

                            //10 degois
                        case "10": classe += "degois"; break;

                            //11 researshgate
                        case "11": classe += "researchgate"; break;

                            //15 instagram
                        case "15": classe += "instagram"; break;

                    }

                    cell0.className = "hidden";
                    cell0.innerHTML = idLigacao + "<input type=\"text\" value=\"" + idLigacao + "\" name=\"Ligacoes[" + count + "].ID\" style=\"display: none;\" />";
                    cell1.innerHTML = "<span class=\"icon " + classe + "\"></span>";
                    cell2.innerHTML = nomeLigacao + "<input type=\"text\" value=\"" + nomeLigacao + "\" name=\"Ligacoes[" + count + "].Nome\" style=\"display: none;\" />";
                    cell3.innerHTML = "<a href=\"" + ligacao + "\" target=\"_blank\">" + ligacao + "</a><input type=\"text\" value=\"" + ligacao + "\" name=\"Ligacoes[" + count + "].Url\" style=\"display: none;\" />";
                    cell5.innerHTML = "<input type=\"button\" value=\"x\" class=\"btn btn-default btn-delete pull-right\" onclick=\"deleteLigacao(this)\" />"

                    //////

                    var localhost = @System.Configuration.ConfigurationManager.AppSettings["localhost"];

                    if(localhost)
                        var url = window.location.protocol + "//" + window.location.host + "/Perfil/GetNiveisAcesso/";
                    else
                        var url = window.location.protocol + "//" + window.location.host + "/omeuperfil" + "/Perfil/GetNiveisAcesso/";

                    $.get(url, function (data) {
                        if (data != 'error') {
                            var newOp = data;

                            var result = "<select class=\"form-control\" name=\"Ligacoes["+count+"].Permissao\">"
                            for(var i = 0; i < newOp.length; i++){
                                result += "<option value=\""+newOp[i].ID+"\">"+newOp[i].Nome+"</option>";
                            }
                            result += "</select>";

                            cell4.innerHTML = result;
                        }
                    });

                }
            }
        }

        function deleteLigacao(element) {
            var rowID = element.parentNode.parentNode.rowIndex;
            var table = document.getElementById('ligacaoTable');

            var element = document.getElementById('ListaLigacoesField');

            var option = document.createElement("option");

            var value = table.rows[rowID].cells[0].innerHTML;
            var text = table.rows[rowID].cells[2].innerHTML;

            option.value = value.substr(0, value.indexOf('<'));
            option.text = text.substr(0, text.indexOf('<'));

            //element.add(option);

            SortList();
            element.selectedIndex = 0;
            ChangeLigacao(0);

            table.deleteRow(rowID);

            //atualizar contagem na tabela
            var table_row_count = table.rows.length;
            for (i = rowID; i < table_row_count; i++) {
                var cell0 = table.rows[i].cells[0].innerHTML;
                table.rows[i].cells[0].innerHTML = cell0.replace(/\[.*]/g, '[' + i + ']');

                var cell1 = table.rows[i].cells[2].innerHTML;
                table.rows[i].cells[2].innerHTML = cell1.replace(/\[.*]/g, '[' + i + ']');

                var cell2 = table.rows[i].cells[3].innerHTML;
                table.rows[i].cells[3].innerHTML = cell2.replace(/\[.*]/g, '[' + i + ']');

                var cell3 = table.rows[i].cells[4].innerHTML;
                table.rows[i].cells[4].innerHTML = cell3.replace(/\[.*]/g, '[' + i + ']');
            }

        }

        function SortList() {

            var selElem = document.getElementById('ListaLigacoesField');

            for (var i = 0; i < (selElem.options.length - 1) ; i++)
                for (var j = i + 1; j < selElem.options.length; j++)
                    if (parseInt(selElem.options[j].value) < parseInt(selElem.options[i].value)) {
                        var dummy = new Option(selElem.options[i].text, selElem.options[i].value);
                        selElem.options[i] = new Option(selElem.options[j].text, selElem.options[j].value);
                        selElem.options[j] = dummy;
                    }
        }


    </script>    
    
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Username)
                @Html.DisplayFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
            <div class="col-md-12">
                @Html.HiddenFor(model => model.Nome)
                @Html.DisplayFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Permissao, htmlAttributes: new { @class = "control-label col-md-12", @style = "text-align: left" })
            <div class="col-md-12">
                @Html.DropDownList("Permissao", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Permissao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.NomePersonalizado, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.NomePersonalizado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NomePersonalizado, "", new { @class = "text-danger" })
            </div>
        </div>

        <ul class="nav nav-tabs">
            @if (Model.Perfis != null)
            {
                int p = 0;
                foreach (var perfil in Model.Perfis)
                {
                    string classe = p == 0 ? "active" : "";
                    <li class="@classe"><a data-toggle="tab" href="#@perfil.CodigoTipo">Perfil @perfil.Tipo</a></li>
                    p++;
                }
            }
        </ul>

        <div class="tab-content">
            @if (Model.Perfis != null)
            {
                int p = 0;
                foreach (var perfil in Model.Perfis)
                {
                    string classe = p == 0 ? "tab-pane fade in active" : "tab-pane fade";
                    <div id="@perfil.CodigoTipo" class="@classe">
                        @Html.HiddenFor(model => model.Perfis[p].ID)
                        @Html.HiddenFor(model => model.Perfis[p].UnidadeOrganica)
                        @Html.HiddenFor(model => model.Perfis[p].Categoria)
                        @Html.HiddenFor(model => model.Perfis[p].Tipo)
                        @Html.HiddenFor(model => model.Perfis[p].CodigoTipo)
                        @if (perfil.Flags != null)
                        {
                            int f = 0;
                            foreach (var flag in perfil.Flags)
                            {
                                @Html.HiddenFor(model => model.Perfis[p].Flags[f].Key)
                                switch (flag.Key)
                                {
                                    case RCU.KEY_DSD:
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            @Html.Label("Visibilidade dos dados da DSD", htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("Perfis["+ p +"].Flags[" + f + "].Value", flag.ddList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                        break;
                                    case RCU.KEY_UO:
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            @Html.Label("Unidade Orgânica", htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Perfis[p].UnidadeOrganica, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("Visibilidade", htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("Perfis[" + p + "].Flags[" + f + "].Value", flag.ddList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                        break;
                                    case RCU.KEY_Categoria:
                                    <div class="form-group">
                                        <div class="col-md-8">
                                            @Html.Label("Categoria", htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Perfis[p].Categoria, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.Label("Visibilidade", htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownList("Perfis[" + p + "].Flags[" + f + "].Value", flag.ddList, new { @class = "form-control" })
                                        </div>
                                    </div>
                                        break;
                                    default:
                                        break;
                                }
                                f++;
                            }
                        }
                    </div>
                    p++;
                }
            }
        </div>

        <hr />

        <div class="form-group">
            @Html.HiddenFor(model => model.Email)
            <div class="col-md-8">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.PermissaoEmail, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PermissaoEmail", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PermissaoEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                @Html.LabelFor(model => model.Extensao, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Extensao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Extensao, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.PermissaoExtensao, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PermissaoExtensao", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PermissaoExtensao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                @Html.LabelFor(model => model.Gabinete, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Gabinete, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gabinete, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.PermissaoGabinete, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PermissaoGabinete", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PermissaoGabinete, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-8">
                @Html.LabelFor(model => model.PaginaPessoal, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.PaginaPessoal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaginaPessoal, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(model => model.PermissaoPaginaPessoal, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("PermissaoPaginaPessoal", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PermissaoPaginaPessoal, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-12">
                @Html.LabelFor(model => model.Ligacoes, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("ListaLigacoesField", null, new { @class = "form-control", @onchange = "ChangeLigacao(this.value)" })
            </div>

            <div id="ligacaoDiv"  class="col-md-12" style="margin-top: 10px; display: none;" >
                <div class="input-group">
                    <input id="ligacaoTexto" type="text" value="" class="form-control text-box single-line" autocomplete="off" onkeypress="if (event.keyCode == 13) { event.preventDefault(); document.getElementById('addLigacaoButton').click(); }" />
                    <span class="input-group-btn">
                        <input id="addLigacaoButton" type="button" value="Adicionar" class="btn btn-default" onclick="addLigacao()" />
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.Ligacoes, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-12">
                <table id="ligacaoTable" class="table table-hover">
                    @if(Model.Ligacoes != null){
                        int i = 0;
                        foreach(var ligacao in Model.Ligacoes)
                        {
                            string classe = "icon-";
                            switch (ligacao.ID)
                            {
                                //linkedin
                                case 5:  classe += "linkedin"; break;

                                //6 facebook
                                case 6: classe += "facebook"; break;

                                //7 twitter
                                case 7: classe += "twitter"; break;

                                //8 orcid
                                case 8: classe += "orcid"; break;

                                //9 authenticus
                                case 9: classe += "authenticus"; break;

                                //10 degois
                                case 10: classe += "degois"; break;

                                //11 researshgate
                                case 11: classe += "researchgate"; break;

                                //15 instagram
                                case 15: classe += "instagram"; break;

                            }


                            <tr>
                                <td class="hidden">@ligacao.ID<input type="text" value="@ligacao.ID" name="Ligacoes[@i].ID" style="display: none;" /></td>
                                <td><span class="icon @classe"></span></td>
                                <td class="col-md-2">@ligacao.Nome<input type="text" value="@ligacao.Nome" name="Ligacoes[@i].Nome" style="display: none;" /></td>
                                <td class="col-md-6"><a href="@ligacao.Url" target="_blank">@ligacao.Url</a><input type="text" value="@ligacao.Url" name="Ligacoes[@i].Url" style="display: none;" /></td>
                                <td class="col-md-2">@Html.DropDownList("Ligacoes["+@i+"].Permissao", ligacao.ddList, new { @class = "form-control" })</td>
                                <td class="col-md-2"><input type="button" value="x" class="btn btn-default btn-delete pull-right" onclick="deleteLigacao(this)" /></td>
                            </tr>
                            i++;
                        }
                    }
                </table>
            </div>
        </div>


        <hr />

        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("Legenda", htmlAttributes: new { @class = "control-label" })
                <ul style="font-size: 12px;">
                    @foreach(var l in ViewBag.PermissaoLista as List<IRCUAssemblies.Utilizadores.Visibilidade>)
                    {
                        <li><b>@l.Nome</b> - @l.Descricao</li>
                    }
                </ul>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Submeter" class="btn btn-primary" />
            </div>
        </div>
    </div>
}